$almost-black:#2A363B;
$pink: #FF847C;
$dark-pink: #E84A5F;
$portfolio: #FECEAB;
$light-green: #99B898;
$white: white;
$almost-white: #FFFFF5;
$light-grey: #FFFFF5;
$mischka: #d9dce2;
$athens-gray: #f9f9fa;
