body {
    margin: auto;
    max-width: 1180px;
    background-color: lightyellow;
}

.flag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 50px;
    

    .flip {
        background-color: transparent;
        height: 200px;
        width: 300px;
        perspective: 1000px;
        margin: 20px;
        
    
        &:hover {
            transform: rotateY(180deg);
        }
    
        &__flag {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            border-radius: 7px;
    
            &:hover {
                transform: rotateY(180deg);
            }
    
            &-front{
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                z-index: 2;
                border-radius: 7px;
                background-color: lightyellow;
                
                img {
                    height: 200px;
                    width: 300px;
                    border-radius: 7px;
                }
            }
    
            &-back {
                background-color: white;
                color: black;
                z-index: 1;
                padding: 10px;
                height: 90%;
                border-radius: 7px;

                h1 {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                a {
                    text-decoration: none;
                    font-size: 15px;

                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}    

@media (max-width: 1140px) { 
    .flag-list {
        justify-content: space-around;
    }
}
@media (max-width: 700px) { 
    .flag-list {
        justify-content: center;
    }
}

